.board-sec{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    align-items: flex-start;
    width: 90%;
    max-width: 1300px;
    height: 100%;
    gap: 32px;
    box-sizing: border-box; 
}
@media (max-width:700px) {
    .board-sec{
        flex-wrap: wrap;
        width: 100%;
        align-items: center;
        justify-content: center;
        padding: 16px;
    }
}